@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --colorPincipal: #004369; /* variables css */
    --colorBackground: #ace1f5;
    --colorBody: #ddf6ff;
    --colorBotones: #f0a73a;
    --colorPalabras: #1f628e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: .5px solid red; */
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--colorBody);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ! ------------------------------------------ */

/* Define la fuente utilizando @font-face */
@font-face {
    font-family: 'ITC Franklin Gothic LT';
    src:    url('fonts/ITCFranklinGothicLT.woff2') format('woff2'),
            url('fonts/ITCFranklinGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Aplica la fuente a todo el documento */
body {
    font-family: 'ITC Franklin Gothic LT', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ddf6ff; /* Fondo general de la página */
    color: #1f628e;
}

header {
    background-color: var(--colorPincipal); /* Color de fondo del nav */
    padding: 10px 20px; /* Reduce el padding para hacer el nav más delgado */
    position: relative;
    z-index: 1;
    height: 90px; /* Ajusta la altura para que el nav no se vea tan ancho */
}

.navbar {
    display: flex;
    align-items: flex-end; /* Alinea el contenido al final del header */
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.navbar .logo {
    display: flex;
    align-items: end;
    position: relative;
    z-index: 10; /* Asegura que el logo esté por encima del nav */
    color: white;
    text-decoration: none;

}

.navbar .logo img {
    height: 140px; /* Tamaño del logo */
    margin-right: 10px;
    position: relative;
    top: 70px; /* Hace que el logo sobresalga del nav */
    transition: 0.25s;
}

.navbar .logo span {
    font-size: 30px; /* Ajusta el tamaño del texto */
    color: #ddf6ff;
    font-weight: 800; /* Aplica negrita al texto */
    padding-top: 130px;
    transition: 0.25s;
}

.navbar nav a {
    display: inline-block; /* Hace que el enlace se comporte como un bloque en línea */
    color: #ddf6ff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 10px;
    text-decoration: none; /* Quita el subrayado de los enlaces */
    margin: 0 10px; /* Espacio entre los botones */
    font-size: 1.2em; /* Tamaño de las letras */
    font-weight: bold; /* Aplica negrita al texto del botón */
    text-align: center; /* Centra el texto dentro del botón */
    transition: 1s;  /* Transición suave para el color de fondo */
}

.navbar .login{
    display: inline-block;
    background-color: #1f628e;
    border-radius: 10px ;
    color: #ddf6ff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    text-align: center;
    transition: 1s;  /* Transición suave para el color de fondo */
}

.navbar nav a:hover {
    box-shadow: inset 0 -3rem 0 0 var(--colorBotones); /* Color de fondo al pasar el ratón sobre el botón, se rellena de abajo para arriba */
    color: black; /* se cambia el color de la letra a negro para que sea mas legible */
}

/* ! FOOTER */
footer {
    background-color: var(--colorPincipal);
    padding: 20px 0;
    color: #f0f4f8;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-container h2, .footer-container h3 {
    margin-bottom: 15px;
}

.logof img {
    width: 120px;

}
.footername h2 {
    text-align: center;
    width: auto;
    padding-right: 45%;
    font-size: 1.5em; /* Ajusta el tamaño del texto */
    color: #ddf6ff;
    font-weight: 800; /* Aplica negrita al texto */
}

.team ul {
    list-style: none;
    padding-left: 15px;
}

.team ul li {
    margin: 5px 0;
    padding: 2px;
}

.team ul li a {
    color: white;
    text-decoration: none;
}

.team ul li a:hover {
    border-bottom: 2px solid var(--colorBotones);
}

.social a {
    color: white;
    font-size: 30px;
    margin-right: 10px;
    text-decoration: none;
}

.social a:hover {
    color: var(--colorBotones);
}

.help .btn {
    display: inline-block;
    background-color: var(--colorPalabras);
    color: #f0f4f8;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s;
}

.help .btn:hover {
    box-shadow: inset 3rem 0 3rem 0 var(--colorBotones);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.footer-bottom p {
    color: var(--colorBotones);
    font-size: 1em;
}

/* ! MAIN */
/* Estilos de la sección de opiniones */
.main-foro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto; /* Permitir desplazamiento */
}

.opiniones {
    padding: 25px;
    margin-bottom: 15px;
}


.titulo-opiniones {
    margin-bottom: 30px; /* Ajusta el espacio entre el título y las tarjetas de opinión */
    font-size: 2em; /* Ajusta el tamaño de la fuente según tu preferencia */
    text-decoration: underline;
    color: var(--colorPalabras);
    text-align: center; /* Centra el texto dentro del contenedor */
    padding: 10px 20px; /* Espaciado alrededor del texto */
}

.opinion-tarjeta {
    background-color: var(--colorBackground);
    border: 2px solid var(--colorPalabras);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.opinion-tarjeta img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.opinion-contenido h3 {
    color: var(--colorPalabras);
    margin-bottom: 12px;
}

.opinion-contenido p {
    color: var(--colorPalabras);
    margin-bottom: 12px;
    font-size: 1em;
}

.opinion-contenido .fecha-linkedin-clasificacion {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

    .opinion-contenido .fecha-linkedin-clasificacion a {
        color: var(--colorPincipal);
        display: flex;
        align-items: center;
        font-weight: 600;
        transition: .5s;
        padding-right: 10px;
    }

        .opinion-contenido .fecha-linkedin-clasificacion a:hover {
            color: var(--colorBotones);
            transition: .5s;
        }


    .opinion-contenido .fecha-linkedin-clasificacion .fecha {
        font-size: 1em;
        color: var(--colorPincipal);
        padding-right: 10px;
        font-weight: 600;
    }

/* Centrar el botón y el formulario */
.contenedor-opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Espacio superior para separación */
    margin-bottom: 20px; /* Espacio inferior para separación */
}

/* Ajustes específicos para el botón Dejanos tus comentarios*/
.agregar-opinion {
    background-color: var(--colorBotones);
    color: var(--colorPincipal);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Espacio abajo */
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilos para el botón de Enviar opinión */
#nueva-opinion-form button[type="submit"] {
    background-color: var(--colorPincipal);
    color: var(--colorBackground);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Opcional: Ajustar el tamaño del texto */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#nueva-opinion-form div .cancelar {
    background-color: rgb(192, 30, 30);
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
    background-color: var(--colorBackground); /* Color de fondo más claro al pasar el cursor */
    color: var(--colorPalabras);
    transform: scale(1.05); /* Aumenta el tamaño del botón ligeramente */
}

#nueva-opinion-form button:active {
    transform: scale(0.95); /* Escalar el botón un poco al hacer clic */
}

/* Ajustes específicos para el formulario */
#formulario-opinion {
    background-color: var(--colorBackground);
    width: 100%; /* Para que ocupe todo el ancho del contenedor */
    max-width: 800px; /* Limita el ancho del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

#nueva-opinion-form label {
    display: block; /* Hacer que las etiquetas ocupen toda la línea */
    margin-bottom: 5px; /* Espacio debajo de las etiquetas */
    color: var(--colorPincipal); /* Color de las etiquetas */
}

#nueva-opinion-form input,
#nueva-opinion-form textarea {
    width: 100%; /* Hacer que los campos ocupen el ancho completo del formulario */
    padding: 10px; /* Espaciado interno de los campos */
    margin-bottom: 15px; /* Espacio debajo de los campos */
    border: 1px solid #ddd; /* Borde de los campos */
    border-radius: 5px; /* Bordes redondeados de los campos */
    box-sizing: border-box; /* Incluir el relleno y el borde en el ancho total */
    font-size: 1em; /* Tamaño de la fuente */
}

.container-seleccion-clasificacion {
    padding: 10px 0 30px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.clasificacion-ingreso {
    transition: .5s;
}

.clasificacion-ingreso:hover,
.clasificacion-ingreso.checked {
    color: var(--colorBotones);
    cursor: pointer;
    transition: .5s;
}