@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --colorPincipal: #004369; /* variables css */
    --colorBackground: #ace1f5;
    --colorBody: #ddf6ff;
    --colorBotones: #f0a73a;
    --colorPalabras: #1f628e;
}


/* Estilos de la sección de opiniones */
.main-foro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto; /* Permitir desplazamiento */
}

.opiniones {
    padding: 25px;
    margin-bottom: 15px;
}


.titulo-opiniones {
    margin-bottom: 30px; /* Ajusta el espacio entre el título y las tarjetas de opinión */
    font-size: 2em; /* Ajusta el tamaño de la fuente según tu preferencia */
    text-decoration: underline;
    color: var(--colorPalabras);
    text-align: center; /* Centra el texto dentro del contenedor */
    padding: 10px 20px; /* Espaciado alrededor del texto */
}

.opinion-tarjeta {
    background-color: var(--colorBackground);
    border: 2px solid var(--colorPalabras);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.opinion-tarjeta img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.opinion-contenido h3 {
    color: var(--colorPalabras);
    margin-bottom: 12px;
}

.opinion-contenido p {
    color: var(--colorPalabras);
    margin-bottom: 12px;
    font-size: 1em;
}

.opinion-contenido .fecha-linkedin-clasificacion {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

    .opinion-contenido .fecha-linkedin-clasificacion a {
        color: var(--colorPincipal);
        display: flex;
        align-items: center;
        font-weight: 600;
        transition: .5s;
        padding-right: 10px;
    }

        .opinion-contenido .fecha-linkedin-clasificacion a:hover {
            color: var(--colorBotones);
            transition: .5s;
        }


    .opinion-contenido .fecha-linkedin-clasificacion .fecha {
        font-size: 1em;
        color: var(--colorPincipal);
        padding-right: 10px;
        font-weight: 600;
    }

/* Centrar el botón y el formulario */
.contenedor-opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Espacio superior para separación */
    margin-bottom: 20px; /* Espacio inferior para separación */
}

/* Ajustes específicos para el botón Dejanos tus comentarios*/
.agregar-opinion {
    background-color: var(--colorBotones);
    color: var(--colorPincipal);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Espacio abajo */
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilos para el botón de Enviar opinión */
#nueva-opinion-form button[type="submit"] {
    background-color: var(--colorPincipal);
    color: var(--colorBackground);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Opcional: Ajustar el tamaño del texto */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#nueva-opinion-form div .cancelar {
    background-color: rgb(192, 30, 30);
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
    background-color: var(--colorBackground); /* Color de fondo más claro al pasar el cursor */
    color: var(--colorPalabras);
    transform: scale(1.05); /* Aumenta el tamaño del botón ligeramente */
}

#nueva-opinion-form button:active {
    transform: scale(0.95); /* Escalar el botón un poco al hacer clic */
}

/* Ajustes específicos para el formulario */
#formulario-opinion {
    background-color: var(--colorBackground);
    width: 100%; /* Para que ocupe todo el ancho del contenedor */
    max-width: 800px; /* Limita el ancho del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

#nueva-opinion-form label {
    display: block; /* Hacer que las etiquetas ocupen toda la línea */
    margin-bottom: 5px; /* Espacio debajo de las etiquetas */
    color: var(--colorPincipal); /* Color de las etiquetas */
}

#nueva-opinion-form input,
#nueva-opinion-form textarea {
    width: 100%; /* Hacer que los campos ocupen el ancho completo del formulario */
    padding: 10px; /* Espaciado interno de los campos */
    margin-bottom: 15px; /* Espacio debajo de los campos */
    border: 1px solid #ddd; /* Borde de los campos */
    border-radius: 5px; /* Bordes redondeados de los campos */
    box-sizing: border-box; /* Incluir el relleno y el borde en el ancho total */
    font-size: 1em; /* Tamaño de la fuente */
}

.container-seleccion-clasificacion {
    padding: 10px 0 30px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.clasificacion-ingreso {
    transition: .5s;
}

.clasificacion-ingreso:hover,
.clasificacion-ingreso.checked {
    color: var(--colorBotones);
    cursor: pointer;
    transition: .5s;
}