@font-face {
    font-family: 'ITC Franklin Gothic LT';
    src:    url('fonts/ITCFranklinGothicLT.woff2') format('woff2'),
            url('fonts/ITCFranklinGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --colorPincipal: #004369; /* variables css */
    --colorBackground: #ace1f5;
    --colorBody: #ddf6ff;
    --colorBotones: #f0a73a;
    --colorPalabras: #1f628e;

    --altura-del-navbar: 0rem; /* Ejemplo: si tu navbar mide 64px */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: .5px solid red; */
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ! ------------------------------------------ */

/* Define la fuente utilizando @font-face */
@font-face {
    font-family: 'ITC Franklin Gothic LT';
    src:    url('fonts/ITCFranklinGothicLT.woff2') format('woff2'),
            url('fonts/ITCFranklinGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Aplica la fuente a todo el documento */
body {
    font-family: 'ITC Franklin Gothic LT', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ddf6ff; /* Fondo general de la página */
    color: #1f628e;
}

.container-maestro {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: var(--colorPincipal); /* Color de fondo del nav */
    position: relative;
    z-index: 1;
    height: 70%; /* Ajusta la altura para que el nav no se vea tan ancho */
}

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
    }

        .navbar .logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            z-index: 10; /* Asegura que el logo esté por encima del nav */
            
        }

            .navbar .logo img {
                width: 20%; /* Tamaño del logo */
                margin-right: 10px;
                transition: 0.25s;
            }

            .navbar .logo span {
                font-size: 1em; /* Ajusta el tamaño del texto */
                color: var(--colorBody);
                font-weight: 600; /* Aplica negrita al texto */
                /* padding-top: 130px; */
                transition: 0.25s;
            }

/* Vuelvo invisle el boton de cursos para la version mobile */
.curso-invisible {
    display: none;
}

/* Mostrar el botón de hamburguesa */
.hamburger-menu {
    display: block;
    z-index: 10000;
    transition: all 1s ease-in-out; /* Animación de despliegue */
}

/* Estilos para el menú desplegable en pantallas pequeñas */
.nav-links {
    display: flex; /* Para que los enlaces se muestren horizontalmente en escritorio */
    gap: 1.5rem; /* Espacio entre los enlaces */
    transition: all 1s ease-in-out; /* Animación de despliegue */
}

/* Ocultar la navegación por defecto en móvil */
.nav-links {
    display: none; /* Oculta el menú inicialmente */
    flex-direction: column; /* Apila los enlaces verticalmente */
    position: absolute;
    top: var(--altura-del-navbar); /* Ajusta esto según la altura de tu navbar */
    right: 0;
    width: 70%; /* Ancho del menú desplegable */
    height: calc(100vh - var(--altura-del-navbar)); /* Ocupa el resto de la altura */
    background-color: var(--colorPalabras); /* Un fondo para el menú */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.599);
    padding: 2rem 1rem 1rem 1rem;
    z-index: 1000;
    align-items: flex-start; /* Alinea los enlaces a la izquierda */
}

    /* Cuando el menú está activo (abierto) */
    .nav-links.active {
        display: flex; /* Muestra el menú */
    }

    .nav-links a {
        width: 60%;
        padding: 0.8rem 1rem;
        border-bottom: 1px solid var(--colorBotones);
        text-align: left;
        color: var(--colorBackground);
    }

/* Ajusta el logo y el botón de hamburguesa dentro del navbar */
.navbar {
    justify-content: space-between; /* El logo a la izquierda, hamburguesa a la derecha */
    padding: 0.8rem 1.5rem; /* Ajusta el padding del navbar */
}

/* ! FOOTER */
footer {
    background-color: var(--colorPincipal);
    padding: 20px ;
    color: white;
}

    .footer-container {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        max-width: 1300px;
        margin: 0 10px;

        grid-template-columns: repeat(2, 1fr);
    }

        .footer-container h2, .footer-container h3 {
            margin-bottom: 8px;
            font-size: .8em;
            padding-top: 10px;
        }

        .logof {
            width: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .logof img {
                width: 35%;
            }

            .logof .footername {
                text-align: center;
                width: auto;
                padding-right: 0;
                font-size: 1em; /* Ajusta el tamaño del texto */
                color: white;
                font-weight: 800; /* Aplica negrita al texto */
            }

        .team ul {
            padding-left: 15px;
        }

            .team ul li {
                margin: 2px 0;
                padding: 2px;
                font-size: .6em;
                list-style: inside;
            }

                .team ul li a {
                    color: white;
                }

    .social a {
        color: white;
        font-size: 1.2em;
        margin-right: 10px;
    }

.help .btn {
    display: inline-block;
    background-color: var(--colorPalabras);
    color: white;
    padding: 8px 5px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s;
    width: auto;
    height: auto;
    text-align: center;
    font-size: .6em;
}

.derechos-reservados {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid white;
    padding-top: 10px;
}

    .derechos-reservados p {
        color: var(--colorBotones);
        font-size: 1em;
    }

/* ! MAIN */

.container-redireccion-avanzados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 0 0;
}

    .container-redireccion-avanzados h2 {
        font-size: 1.5em;
        text-shadow: -3px 7px 15px rgba(0,0,0,0.52);
    }

    .container-redireccion-avanzados p {
        font-size: 1em;
        padding-top: 20px;
        text-shadow: -3px 7px 15px rgba(0,0,0,0.52);
        width: 60%;
        text-align: center;
    }

        .container-redireccion-avanzados p a {
            color: var(--colorPalabras);
            text-decoration: underline;
            text-shadow: -3px 7px 15px rgba(0,0,0,0.52);
        }

/* ! cajas */
.carousel {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    background-color:var(--colorBody) ; /* Fondo del carrusel */
    margin: 5em auto;
}

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
        }

        .course-cards {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }

        .course-card {
            background-color: var(--colorPalabras) ;
            color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            width: 90%;
            height: auto;
            margin-top: 20px;
        }

            .icon-container h2 {
                color: white;
                transition: .5s;
                font-size: 1em;
                margin-bottom: 10px;
            }

            .icon-container p {
                color: white;
                transition: .5s;
                font-size: .8em;
                margin-bottom: 5px;
            }

            .icon-container a {
                color: white;
                text-decoration: underline;
                transition: .5s;
                font-size: .8em;
                margin-bottom: 5px;
            }

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--colorBotones); /* Naranja semi-transparente */
    color: white;
    border: none;
    padding: 15px; /* Espaciado para hacer los botones más grandes */
    cursor: pointer;
    font-size: 1em; /* Tamaño del ícono de flecha */
    z-index: 100;
    border-radius: 50%; /* Bordes redondeados para un look más suave */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave en hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para darle un efecto de profundidad */
}

    .carousel-control-prev {
        left: 0px;
    }

    .carousel-control-next {
        right: 0px;
    }

@media screen and (min-width: 1200px) {
    
    /* Por defecto, el botón de hamburguesa está oculto */
    .hamburger-menu {
        display: none;
        background: none;
        border: none;
        font-size: 2.5rem; /* Ajusta el tamaño del icono */
        color: var(--color-texto-oscuro); /* O el color que uses para el icono */
        cursor: pointer;
        padding: 0.5rem;
    }

        /* Ocultar el icono "x" por defecto (si lo usas para cerrar) */
        .hamburger-menu .bx-x {
            display: none;
        }

    .nav-links {
        display: flex; 
        flex-direction: row;
        align-items: center;
        gap: 1.5rem; /* Espacio entre enlaces */
    
        /* Reseteamos cualquier estilo de móvil */
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }
    
        .nav-links a {
            width: auto;
            padding: 0;
            border-bottom: none;
            text-align: left;
        }
    
    header {
        background-color: var(--colorPincipal); /* Color de fondo del nav */
        padding: 10px 20px; /* Reduce el padding para hacer el nav más delgado */
        position: relative;
        z-index: 1;
        height: 90px; /* Ajusta la altura para que el nav no se vea tan ancho */
    }

        .navbar {
            display: flex;
            flex-direction: row;
            align-items: flex-end; /* Alinea el contenido al final del header */
            justify-content: space-between;
            height: 100%;
            position: relative;
        }

            .navbar .logo {
                display: flex;
                align-items: end;
                width: auto;
                padding: 0;
                /* position: relative; */
                z-index: 10; /* Asegura que el logo esté por encima del nav */

            }

                .navbar .logo img {
                    height: 140px; /* Tamaño del logo */
                    margin-right: 10px;
                    position: relative;
                    top: 70px; /* Hace que el logo sobresalga del nav */
                    transition: 0.25s;
                    width: auto;
                }

                .navbar .logo span {
                    font-size: 2em; /* Ajusta el tamaño del texto */
                    color: var(--colorBody);
                    font-weight: 800; /* Aplica negrita al texto */
                    padding-top: 130px;
                    transition: 0.25s;
                }

            .navbar nav a {
                display: inline-block; /* Hace que el enlace se comporte como un bloque en línea */
                color: var(--colorBody); /* Color del texto del botón */
                padding: 10px 20px; /* Espaciado interno del botón */
                border-radius: 10px;
                text-decoration: none; /* Quita el subrayado de los enlaces */
                margin: 0 10px; /* Espacio entre los botones */
                font-size: 1.2em; /* Tamaño de las letras */
                font-weight: bold; /* Aplica negrita al texto del botón */
                text-align: center; /* Centra el texto dentro del botón */
                transition: 1s;  /* Transición suave para el color de fondo */
            }

                .navbar .login{
                    display: inline-block;
                    background-color: var(--colorPalabras);
                    border-radius: 10px ;
                    color: var(--colorBody);
                    padding: 10px 20px;
                    text-decoration: none;
                    margin: 0 10px;
                    font-weight: bold;
                    text-align: center;
                    transition: 1s;  /* Transición suave para el color de fondo */
                    height: auto;
                }

                .navbar nav a:hover {
                    box-shadow: inset 0 -3rem 0 0 var(--colorBotones); /* Color de fondo al pasar el ratón sobre el botón, se rellena de abajo para arriba */
                    color: black; /* se cambia el color de la letra a negro para que sea mas legible */
                }

    /* ! FOOTER */
    footer {
        background-color: var(--colorPincipal);
        padding: 20px 0;
        color: white;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1300px;
        margin: 0 auto;
    }

        .footer-container h2, .footer-container h3 {
            margin-bottom: 15px;
            font-size: 1.2em;
        }


        .logof {
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .logof img {
                width: 120px;
            }

            .logof .footername {
                text-align: center;
                width: auto;
                padding-right: 0;
                font-size: 1.2em; /* Ajusta el tamaño del texto */
                color: white;
                font-weight: 800; /* Aplica negrita al texto */
            }

        .team ul {
            list-style: inside;
            padding-left: 15px;
        }

            .team ul li {
                margin: 5px 0;
                padding: 2px;
            }

                .team ul li a {
                    color: white;
                    font-size: 1.5em;
                }

                .team ul li a:hover {
                    border-bottom: 2px solid var(--colorBotones);
                }

    .social a {
        color: white;
        font-size: 30px;
        margin-right: 10px;
        text-decoration: none;
    }

    .social a:hover {
        color: var(--colorBotones);
    }

    .help .btn {
        display: inline-block;
        background-color: var(--colorPalabras);
        color: #f0f4f8;
        padding: 10px 20px;
        margin: 10px 0;
        text-decoration: none;
        border-radius: 5px;
        transition: .5s;
        width: auto;
        height: auto;
        text-align: center;
        font-size: 1em;
    }

    .help .btn:hover {
        box-shadow: inset 3rem 0 3rem 0 var(--colorBotones);
    }

    .derechos-reservados {
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
    }

        .derechos-reservados p {
            color: var(--colorBotones);
            font-size: 1em;
        }
    
    /* ! ----------------------------------------- */
    /* ! ----------------------------------------- */
    /* ! ----------------------------------------- */
    /* ! ----------------------------------------- */
    /* ! ----------------------------------------- */
    /* ! ----------------------------------------- */
    /* ! ----------------------------------------- */
    /* ! ----------------------------------------- */
    /* ! ----------------------------------------- */

    /* ! MAIN */

    .container-redireccion-avanzados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8rem 0 0 0;
    }

        .container-redireccion-avanzados h2 {
            font-size: 3em;
            text-shadow: -3px 7px 15px rgba(0,0,0,0.52);
        }

        .container-redireccion-avanzados p {
            font-size: 1.5em;
            padding-top: 50px;
            text-shadow: -3px 7px 15px rgba(0,0,0,0.52);
            width: 30%;
            text-align: center;
        }

        .container-redireccion-avanzados p a {
            color: var(--colorPalabras);
            text-decoration: underline;
            text-shadow: -3px 7px 15px rgba(0,0,0,0.52);
        }

    /* ! cajas */
    .carousel {
        position: relative;
        width: 100%;
        max-width: 900px;
        margin: auto;
        overflow: clip;
        background-color:#ddf6ff ; /* Fondo del carrusel */
        margin: 8em auto;
    }

        .carousel-inner {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

            .carousel-item {
                min-width: 100%;
                box-sizing: border-box;
            }

        .course-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: auto;
        }

        .course-card {
            background-color: var(--colorPalabras) ;
            color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            width: 15rem;
            height: 30rem;
            margin-top: 0;
        }

            .icon-container h2 {
                color: white;
                transition: .5s;
                font-size: 1.5em;
                margin-bottom: 20px;
            }

            .icon-container p {
                color: white;
                transition: .5s;
                font-size: 1em;
                margin-bottom: 10px;
            }

            .icon-container a {
                color: white;
                text-decoration: underline;
                transition: .5s;
                font-size: 1em;
                margin-bottom: 0px;
            }

                .icon-container a:hover {
                    color: var(--colorBotones);
                    transition: .5s;
                }

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--colorBotones); /* Naranja semi-transparente */
        color: white;
        border: none;
        padding: 15px; /* Espaciado para hacer los botones más grandes */
        cursor: pointer;
        font-size: 30px; /* Tamaño del ícono de flecha */
        z-index: 100;
        border-radius: 50%; /* Bordes redondeados para un look más suave */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave en hover */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para darle un efecto de profundidad */
    }

        .carousel-control-prev {
            left: 0px;
        }

        .carousel-control-next {
            right: 0px;
        }

    /* Efecto hover para cambiar el color y el tamaño al pasar el cursor */
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgba(255, 140, 0, 1); /* Un tono más oscuro de naranja al hacer hover */
        transform: translateY(-50%) scale(1.1); /* Ligeramente más grande en hover */
    }
}