@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --colorPincipal: #004369;
    /* variables css */
    --colorBackground: #ace1f5;
    --colorBody: #ddf6ff;
    --colorBotones: #f0a73a;
    --colorPalabras: #1f628e;
    --altura-del-navbar: 0rem;
    /* Ejemplo: si tu navbar mide 64px */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: .5px solid red; */
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* ! ------------------------------------------ */

/* Define la fuente utilizando @font-face */
@font-face {
    font-family: 'ITC Franklin Gothic LT';
    src: url('fonts/ITCFranklinGothicLT.woff2') format('woff2'),
        url('fonts/ITCFranklinGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Aplica la fuente a todo el documento */
body {
    font-family: 'ITC Franklin Gothic LT', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--colorBody);
    /* Fondo general de la página */
    color: var(--colorPalabras);
}

.container-maestro {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: var(--colorPincipal);
    /* Color de fondo del nav */
    position: relative;
    z-index: 1;
    height: 70%;
    /* Ajusta la altura para que el nav no se vea tan ancho */
    padding: 5px 10px;
}

.mi-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.mi-navbar .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
    /* Asegura que el logo esté por encima del nav */

}

.mi-navbar .logo img {
    width: 20%;
    /* Tamaño del logo */
    margin-right: 10px;
    transition: 0.25s;
}

.mi-navbar .logo span {
    font-size: 1em;
    /* Ajusta el tamaño del texto */
    color: var(--colorBody);
    font-weight: 600;
    /* Aplica negrita al texto */
    /* padding-top: 130px; */
    transition: 0.25s;
}

.mi-navbar nav a {
    color: var(--colorBody);
    /* Color del texto del botón */
    font-size: 1em;
    /* Tamaño de las letras */
    font-weight: bold;
    /* Aplica negrita al texto del botón */
    padding-right: 5px;
}

/* ! FOOTER */
footer {
    background-color: var(--colorPincipal);
    padding: 20px;
    color: white;
}

.footer-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 10px;

    grid-template-columns: repeat(2, 1fr);
}

.footer-container h2,
.footer-container h3 {
    margin-bottom: 8px;
    font-size: .8em;
    padding-top: 10px;
}

.logof {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logof img {
    width: 35%;
}

.logof .footername {
    text-align: center;
    width: auto;
    padding-right: 0;
    font-size: 1em;
    /* Ajusta el tamaño del texto */
    color: white;
    font-weight: 800;
    /* Aplica negrita al texto */
}

.team ul {
    padding-left: 15px;
}

.team ul li {
    margin: 2px 0;
    padding: 2px;
    font-size: .6em;
    list-style: inside;
}

.team ul li a {
    color: white;
}

.social a {
    color: white;
    font-size: 1.2em;
    margin-right: 10px;
}

.help .btn {
    display: inline-block;
    background-color: var(--colorPalabras);
    color: white;
    padding: 8px 5px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s;
    width: auto;
    height: auto;
    text-align: center;
    font-size: .6em;
}

.derechos-reservados {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid white;
    padding-top: 10px;
}

.derechos-reservados p {
    color: var(--colorBotones);
    font-size: 1em;
}

/* ! MAIN */
main {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    width: 100%;
    min-height: 80vh;
    /* Usa min-height para que crezca si el formulario es alto */
    background-color: var(--colorBody);
    /* Asegura que el fondo sea el color sólido */
}

.div-foto-fondo-pagina {
    display: none;
    /* Oculto en móvil */
}

.form-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* Ancho casi completo en móvil */
    max-width: 500px;
    /* Pero no más ancho que esto */
    height: auto;
    /* Altura automática según el contenido */
    min-height: 600px;
    /* Una altura mínima para que quepan los inputs */
    background: transparent;
    /* O un color de fondo si lo prefieres */
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    /* Un poco de margen arriba y abajo */
}

.login-container {
    /* position: absolute; */
    left: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    padding-right: 5px;
}

.top span {
    color: var(--colorPalabras);
    font-size: 1em;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span b {
    font-weight: 600;
    color: var(--colorPalabras);
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.iniciar-sesion-registrate {
    font-size: 1.5em;
    text-align: center;
    align-content: center;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--colorPalabras);
    font-weight: 600;
    cursor: context-menu;
}


/* !HEADER */
@media screen and (min-width: 1200px) {
    header {
        background-color: var(--colorPincipal);
        /* Color de fondo del nav */
        padding: 10px 20px;
        /* Reduce el padding para hacer el nav más delgado */
        position: relative;
        z-index: 1;
        height: 90px;
        /* Ajusta la altura para que el nav no se vea tan ancho */
    }

    .mi-navbar {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        /* Alinea el contenido al final del header */
        justify-content: space-between;
        height: 100%;
        position: relative;
    }

    .mi-navbar .logo {
        display: flex;
        align-items: end;
        width: auto;
        padding: 0;
        /* position: relative; */
        z-index: 10;
        /* Asegura que el logo esté por encima del nav */

    }

    .mi-navbar .logo img {
        height: 140px;
        /* Tamaño del logo */
        margin-right: 10px;
        position: relative;
        top: 70px;
        /* Hace que el logo sobresalga del nav */
        transition: 0.25s;
        width: auto;
    }

    .mi-navbar .logo span {
        font-size: 2em;
        /* Ajusta el tamaño del texto */
        color: var(--colorBody);
        font-weight: 800;
        /* Aplica negrita al texto */
        padding-top: 130px;
        transition: 0.25s;
    }

    .mi-navbar nav a {
        display: inline-block;
        /* Hace que el enlace se comporte como un bloque en línea */
        color: var(--colorBody);
        /* Color del texto del botón */
        padding: 10px 20px;
        /* Espaciado interno del botón */
        border-radius: 10px;
        text-decoration: none;
        /* Quita el subrayado de los enlaces */
        margin: 0 10px;
        /* Espacio entre los botones */
        font-size: 1.2em;
        /* Tamaño de las letras */
        font-weight: bold;
        /* Aplica negrita al texto del botón */
        text-align: center;
        /* Centra el texto dentro del botón */
        transition: 1s;
        /* Transición suave para el color de fondo */
    }

    .mi-navbar .login {
        display: inline-block;
        background-color: var(--colorPalabras);
        border-radius: 10px;
        color: var(--colorBody);
        padding: 10px 20px;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold;
        text-align: center;
        transition: 1s;
        /* Transición suave para el color de fondo */
        height: auto;
    }

    .mi-navbar nav a:hover {
        box-shadow: inset 0 -3rem 0 0 var(--colorBotones);
        /* Color de fondo al pasar el ratón sobre el botón, se rellena de abajo para arriba */
        color: black;
        /* se cambia el color de la letra a negro para que sea mas legible */
    }

    /* ! FOOTER */
    footer {
        background-color: var(--colorPincipal);
        padding: 20px 0;
        color: white;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1300px;
        margin: 0 auto;
    }

    .footer-container h2,
    .footer-container h3 {
        margin-bottom: 15px;
        font-size: 1.2em;
    }


    .logof {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logof img {
        width: 120px;
    }

    .logof .footername {
        text-align: center;
        width: auto;
        padding-right: 0;
        font-size: 1.2em;
        /* Ajusta el tamaño del texto */
        color: white;
        font-weight: 800;
        /* Aplica negrita al texto */
    }

    .team ul {
        list-style: inside;
        padding-left: 15px;
    }

    .team ul li {
        margin: 5px 0;
        padding: 2px;
    }

    .team ul li a {
        color: white;
        font-size: 1.5em;
    }

    .team ul li a:hover {
        border-bottom: 2px solid var(--colorBotones);
    }

    .social a {
        color: white;
        font-size: 30px;
        margin-right: 10px;
        text-decoration: none;
    }

    .social a:hover {
        color: var(--colorBotones);
    }

    .help .btn {
        display: inline-block;
        background-color: var(--colorPalabras);
        color: #f0f4f8;
        padding: 10px 20px;
        margin: 10px 0;
        text-decoration: none;
        border-radius: 5px;
        transition: .5s;
        width: auto;
        height: auto;
        text-align: center;
        font-size: 1em;
    }

    .help .btn:hover {
        box-shadow: inset 3rem 0 3rem 0 var(--colorBotones);
    }

    .derechos-reservados {
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
    }

    .derechos-reservados p {
        color: var(--colorBotones);
        font-size: 1em;
    }

    /* ! ------------------------------------------------------------------- */
    /* ! ------------------------------------------------------------------- */
    /* ! ---------------------FONDO DE LA PAGINA---------------------------- */
    /* ! ------------------------------------------------------------------- */
    /* ! ------------------------------------------------------------------- */

    main {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 50rem;
    }

    .div-foto-fondo-pagina {
        display: block;
        width: 50%;
        height: 100%;
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)),
            url("/image/fondo-sesion.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* ! ------------------------------------------------------------------- */
    /* ! ------------------------------------------------------------------- */
    /* ! --------------------FORMULARIO DE LA PAGINA------------------------ */
    /* ! ------------------------------------------------------------------- */
    /* ! ------------------------------------------------------------------- */

    .form-box {
        position: relative;
        /* Necesario para que los hijos se muevan dentro */
        width: 60%;
        /* Asegura un ancho fijo (ajusta si es necesario) */
        height: 80%;
        /* Aumenta la altura si el form de Bootstrap es muy alto */
        background: transparent;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* <--- ¡CRUCIAL! Esto corta lo que se salga de la caja */
        margin: 5%;
        max-width: 100%;
    }

    .login-container {
        position: absolute;
        top: 0;
        left: 4px;
        /* <--- IMPORTANTE: Posición inicial */
        width: 100%;
        height: 100%;
        padding: 40px;
        transition: .5s ease-in-out;
        opacity: 1;
        /* <--- Visible */
        pointer-events: all;
        /* <--- Clickable */
        z-index: 2;
        /* <--- Por encima del registro */
        display: flex;
        justify-content: center;
    }

    /* Estado inicial del REGISTRO (Invisible y a la derecha) */
    .register-container {
        position: absolute;
        top: 0;
        right: -520px;
        /* <--- IMPORTANTE: Escondido a la derecha */
        width: 100%;
        height: 100%;
        padding: 40px;
        transition: .5s ease-in-out;
        opacity: 0;
        /* <--- Invisible */
        pointer-events: none;
        /* <--- No clickable */
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    .top span {
        color: var(--colorPalabras);
        font-size: 1em;
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }

    .top span b {
        font-weight: 600;
        color: var(--colorPalabras);
        margin-left: 5px;
        text-decoration: underline;
        cursor: pointer;
    }

    .top span b:hover {
        color: var(--colorBotones);
    }

    .iniciar-sesion-registrate {
        font-size: 2em;
        text-align: center;
        align-content: center;
        padding: 0px 0 0px 0;
        /* background-color: var(--colorBackground); */
        border-radius: 20px;
        margin-bottom: 0px;
        text-align: center;
        color: var(--colorPalabras);
        font-weight: 600;
        cursor: context-menu;
    }

    .two-forms {
        display: flex;
        gap: 10px;
    }

    .input-field {
        font-size: 15px;
        background-color: var(--colorBackground);
        color: var(--colorPalabras);
        height: 50px;
        width: 100%;
        padding: 0 10px 0 45px;
        border: none;
        border-radius: 30px;
        outline: none;
        transition: .2s ease;
        margin-left: 0;
    }

    .input-field:hover,
    .input-field:focus {
        background: rgba(100, 155, 197, 0.63);
    }


    ::-webkit-input-placeholder {
        color: var(--colorBotones);
    }

    .input-box i {
        position: relative;
        top: 3rem;
        left: 1rem;
        color: var(--colorBotones);
    }

    .submit {
        font-size: 1.5em;
        font-weight: 600;
        color: var(--colorPalabras);
        height: 45px;
        width: 100%;
        margin-left: 0;
        border: none;
        border-radius: 30px;
        background: var(--colorBackground);
        cursor: pointer;
        transition: .3s ease-in-out;
    }

    .submit:hover {
        background: var(--colorBotones);
        box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    }


    .two-col {
        display: flex;
        justify-content: space-between;
        color: var(--colorBackground);
        font-size: small;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 0;
    }

    .two-col .one {
        display: flex;
        gap: 5px;
    }

    .two label a {
        text-decoration: none;
        color: var(--colorBackground);
        padding-right: 15px;
    }

    .two label a:hover {
        text-decoration: underline;
    }
}