/* styles.css */

/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root { /* Es más especifico que html -> Especificidad  */
    --colorPincipal: #004988; /* variables css */
    --colorBackground: #212F56;
    --colorBody: #ddf6ff;
    --colorNaranja: #FF6B35;
}


body {
    font-family: "Josefin Sans", sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--colorBody);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* estilo del header */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ! HEADER */
.header-nav .nav-header {
    padding: 0 5%;
    height: 100px;
    background-color: #004988;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 10px 23px -3px rgba(0,0,0,0.8);
    -webkit-box-shadow: -1px 10px 23px -3px rgba(0,0,0,0.8);
    -moz-box-shadow: -1px 10px 23px -3px rgba(0,0,0,0.8);
}

    /* Logo y nombre */
    .nav-header .div-logo-nombre {
        width: 30%;
        height: 100%;
    }

    .nav-header .div-logo-nombre .logo-nombre-a {
        /* float: left; */
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        align-content: center;
        /* overflow: hidden; */
    }

    .nav-header .div-logo-nombre .logo-nombre-a .img-logo {
        width: 90px;
        /* padding-right: 2%;*/
        padding-top: 5px; 
        
    }

    .nav-header .div-logo-nombre .logo-nombre-a .titulo-nombre {
        font-size: 30px;
        color: var(--colorBody);
        text-transform: uppercase;
        display: inline;
        padding-left: 20px;

        text-shadow: 
            -1px -1px 0 #000,  /* Contorno en la esquina superior izquierda */
            1px -1px 0 #000,   /* Contorno en la esquina superior derecha */
            -1px 1px 0 #000,   /* Contorno en la esquina inferior izquierda */
            1px 1px 0 #000;    /* Contorno en la esquina inferior derecha */
    }

    /* Lista de navegacion */
    .div-lista-items {
        width: auto;
        height: auto;
    }

    .nav-header .lista-nav {
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-header .lista-nav .items {
        display: block;
        text-transform: uppercase;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        color: var(--colorBody);

        text-shadow: 
            -1px -1px 0 #000,  /* Contorno en la esquina superior izquierda */
            1px -1px 0 #000,   /* Contorno en la esquina superior derecha */
            -1px 1px 0 #000,   /* Contorno en la esquina inferior izquierda */
            1px 1px 0 #000;    /* Contorno en la esquina inferior derecha */
    }

    .nav-header .lista-nav .items:hover {
        border-bottom: 4px solid var(--colorNaranja);
    }



/* Estilos de la sección de opiniones */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto; /* Permitir desplazamiento */
}

.opiniones {
    padding: 25px;
    margin-bottom: 15px;
}


.titulo-opiniones {
    margin-bottom: 30px; /* Ajusta el espacio entre el título y las tarjetas de opinión */
    font-size: 30px; /* Ajusta el tamaño de la fuente según tu preferencia */
    color: #FF6B35;
    text-align: center; /* Centra el texto dentro del contenedor */
    text-shadow: 2px 2px 5px rgba(184, 61, 61, 0.3); /* Sombra del texto */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado alrededor del texto */
}

.opinion-tarjeta {
    background-color: #EFEFD0;
    border: 1px solid #004E89;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.opinion-tarjeta img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.opinion-contenido h3 {
    color: #004E89;
    margin-bottom: 12px;
}

.opinion-contenido p {
    color: #212F56;
    margin-bottom: 12px;

}

.opinion-contenido a {
    color: #004E89;
    text-decoration: none;
}

.opinion-contenido .fecha {
    font-size: 0.9em;
    color: #6b9dc4;
}

/* Centrar el botón y el formulario */
.contenedor-opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Espacio superior para separación */
    margin-bottom: 20px; /* Espacio inferior para separación */
}

/* Ajustes específicos para el botón Dejanos tus comentarios*/
.agregar-opinion {
    background-color: #FF6B35;
    color: #EFEFD0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Espacio abajo */
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilos para el botón de Enviar opinión */
#nueva-opinion-form button[type="submit"] {
    background-color: #FF6B35;
    color: #EFEFD0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Opcional: Ajustar el tamaño del texto */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
    background-color: #FF8A65; /* Color de fondo más claro al pasar el cursor */
    transform: scale(1.05); /* Aumenta el tamaño del botón ligeramente */
}

#nueva-opinion-form button:active {
    transform: scale(0.95); /* Escalar el botón un poco al hacer clic */
}

/* Ajustes específicos para el formulario */
#formulario-opinion {
    background-color: #f9f9f9;
    width: 100%; /* Para que ocupe todo el ancho del contenedor */
    max-width: 800px; /* Limita el ancho del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#nueva-opinion-form label {
    display: block; /* Hacer que las etiquetas ocupen toda la línea */
    margin-bottom: 5px; /* Espacio debajo de las etiquetas */
    color: var(--colorPincipal); /* Color de las etiquetas */
}

#nueva-opinion-form input,
#nueva-opinion-form textarea {
    width: 100%; /* Hacer que los campos ocupen el ancho completo del formulario */
    padding: 10px; /* Espaciado interno de los campos */
    margin-bottom: 15px; /* Espacio debajo de los campos */
    border: 1px solid #ddd; /* Borde de los campos */
    border-radius: 5px; /* Bordes redondeados de los campos */
    box-sizing: border-box; /* Incluir el relleno y el borde en el ancho total */
    font-size: 1em; /* Tamaño de la fuente */
}




/* ! FOOTER */
.footer-info {
    margin-top: 5%;
    background-color: var(--colorPincipal);
    width: 100
}

    .footer-info .footer-info-div-padre {
        height: 200px;
        display: grid;
        padding: 10px;

        color: #fff;
        text-shadow: 
                    -1px -1px 0 #000,  /* Contorno en la esquina superior izquierda */
                    1px -1px 0 #000,   /* Contorno en la esquina superior derecha */
                    -1px 1px 0 #000,   /* Contorno en la esquina inferior izquierda */
                    1px 1px 0 #000;    /* Contorno en la esquina inferior derecha */

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr repeat(2, .5fr);
    }
        /* NOMBRE Y LOGO EN EL FOOTER */
        .footer-info .footer-info-div-padre .footer-info-nombre-logo {
            grid-row-start: 1;
            grid-row-end: 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            /* LOGO */
            .footer-info .footer-info-div-padre .footer-info-nombre-logo .footer-img-logo {
                width: 100px;
                padding-top: auto;
            }
            /* NOMBRE */
            .footer-info .footer-info-div-padre .footer-info-nombre-logo .footer-titulo-nombre {
                padding-top: 2%;
                font-size: 25px;

            }
        
        /* EQUIPO DE TRABAJO */
        .footer-info .footer-info-div-padre .fotter-info-equipo {
            grid-row-start: 1;
            grid-row-end: 3;
        }

            .footer-info .footer-info-div-padre .fotter-info-equipo .titulo-equipo {
                font-size: 20px;
            }

            .footer-info .footer-info-div-padre .fotter-info-equipo .lista-info-equipo {
                font-size: 18px;

                padding: 5px;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
            }

                .footer-info .footer-info-div-padre .fotter-info-equipo .lista-info-equipo .item-equipo {
                    list-style: inside;
                }

                .footer-info .footer-info-div-padre .fotter-info-equipo .lista-info-equipo .item-equipo:hover {
                    list-style: inside;
                    color: var(--colorNaranja);
                }

                    .footer-info .footer-info-div-padre .fotter-info-equipo .lista-info-equipo .item-equipo .linkedin-equipo {
                        color: #fff;
                    }

                    .footer-info .footer-info-div-padre .fotter-info-equipo .lista-info-equipo .item-equipo .linkedin-equipo:hover {
                        color: var(--colorNaranja);
                    }
        
        /* REDES SOCIALES */
        .footer-info .footer-info-div-padre .footer-info-redes-sociales {
            grid-row-start: 1;
            grid-row-end: 2;
            font-size: 20px;
        }

            .footer-info .footer-info-div-padre .footer-info-redes-sociales .lista-redes-sociales {
                display: flex;
                justify-content: start;
            }
            
                .footer-info .footer-info-div-padre .footer-info-redes-sociales .lista-redes-sociales .imagenes-redes {
                    width: 50px;
                    margin: 5px;
                }
                
                .footer-info .footer-info-div-padre .footer-info-redes-sociales .lista-redes-sociales .imagenes-redes:hover {
                    background-color: var(--colorNaranja);
                    border-radius: 15px;
                }

        /* AYUDAS */
        .footer-info .footer-info-div-padre .footer-info-donaciones-subs {
            grid-row-start: 1;
            grid-row-end: 2;
        }
            /* TITULO */
            .footer-info .footer-info-div-padre .footer-info-donaciones-subs .titulo-donaciones-subs {
                font-size: 20px;
            }
            
            /* LISTA = DONACIONES / SUBS */
            .footer-info .footer-info-div-padre .footer-info-donaciones-subs .lista-donaciones-subs {
                font-size: 20px;
                margin: 20px;
                display: flex;
                justify-content: space-evenly;
            }
                
                .footer-info .footer-info-div-padre .footer-info-donaciones-subs .lista-donaciones-subs .ayuda-items {
                    color: #fff;
                }

                .footer-info .footer-info-div-padre .footer-info-donaciones-subs .lista-donaciones-subs .ayuda-items:hover {
                    color: var(--colorNaranja);
                }

        /* DERECHOS RESERVADOS */
        .footer-info .footer-info-div-padre .div-footer-info-derechos-reservados {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;

            display: flex;
            align-items: flex-end;
            justify-content: center;

            font-size: 20px;
        }


