<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Principiantes - Sabiduría Digital</title>

    <link rel="stylesheet" href="/css/principiantes.css">

    <link rel="icon" type="image/webp" href="/image/logo-para-ventana.webp">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

    <div class="container-maestro">
        <!-- Barra de navegacion -->
        <header>
            <div class="navbar">
                <a href="index.html" class="logo">
                    <img src="/image/logo-circular.webp" alt="Logo de Sabiduría Digital">
                    <span>Sabiduría Digital</span>
                </a>

                <div class="hamburger-menu" id="hamburger-menu">
                    <i class='bx  bx-menu bx-sm' style='color:#ace1f5'></i>
                </div>

                <nav class="nav-links" id="nav-links">
                    <a href="/index.html">Inicio</a>
                    <a href="foro.html">Foro</a>
                    <a href="/views/sesion.html" id="loginBtn" class="login">Iniciar Sesión</a>
                    <a href="/views/sesion.html" id="registerBtn" class="login">Registrarse</a>
                </nav>
            </div>
        </header>

        <div class="container-redireccion-avanzados">
            <h2>
                ¡Elegí el curso que más te guste!
            </h2>

            <p>
                <strong>¿Quéres un reto mayor?</strong>
                Podés visitar nuestra página de
                <a href="avanzado.html">
                    <strong>AVANZADOS.</strong>
                </a>
            </p>
        </div>

        <!-- CAJAS-->
        <div id="carouselExample" class="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <main>
                        <section class="course-cards"> <!-- caja 1-->
                            <div class="course-card">
                                <div class="icon-container">
                                    <h2> Introducción a HTML</h2>

                                    <p>¿Sueñas con crear tu propia página web? Con este curso de HTML, adquirirás las
                                        habilidades necesarias para construir sitios web personalizados y profesionales
                                        sin necesidad de conocimientos previos en programación.</p>

                                    <a href="https://www.educacionit.com/curso-de-html?gad_source=1&gclid=Cj0KCQjw_sq2BhCUARIsAIVqmQtwAB61Yv51I9CSvJNUIYKduUeVscWfdEJQJPhv4PBhxm6hAtWlk9gaAuhyEALw_wcB&utm_campaign=dise%C3%B1o-dw_102023_html__arg-test&utm_medium=search&utm_source=googleads"
                                        target="_blank">link al curso</a>
                                    <p>curso pago</p>
                                    <p>modalidad virtual</p>
                                </div>


                            </div> <!-- fin caja 1 -->

                            <div class="course-card"> <!-- caja 2 -->
                                <div class="icon-container">
                                    <h2> Introducción a Excel</h2>

                                    <p> Este curso de Excel está diseñado para cualquier persona que desee aprender a
                                        manejar de forma profesional las hojas de cálculo de Microsoft Excel. Es fácil
                                        de aprender y solo se requieren conocimientos elementales.</p>


                                    <a href="https://edutin.com/curso-de-excel" target="_blank">link al curso</a>
                                    <p>curso gratuito</p>
                                    <p>modalidad virtual</p>
                                </div>

                            </div> <!-- fin caja 2 -->

                            <div class="course-card"> <!--  caja 3-->
                                <div class="icon-container">
                                    <h2> Introducción a Word</h2>

                                    <p>Descubre el poder de Microsoft Word. Desde los conceptos básicos hasta las
                                        funciones más avanzadas, este curso te equipará con las herramientas necesarias
                                        para crear documentos de alta calidad para cualquier propósito. Aprenderás a dar
                                        formato a texto, insertar imágenes y tablas, crear listas y tablas de contenido,
                                        y mucho más.</p>



                                    <a href="https://www.udemy.com/course/word-desde-basico-hasta-avanzado/?utm_source=adwords&utm_medium=udemyads&utm_campaign=Search_DSA_Beta_Prof_la.ES_cc.ROW-Spanish&campaigntype=Search&portfolio=ROW-Spanish&language=ES&product=Course&test=&audience=DSA&topic=&priority=Beta&utm_content=deal4584&utm_term=_._ag_167955697831_._ad_706510832772_._kw__._de_c_._dm__._pl__._ti_dsa-2059557722048_._li_9185686_._pd__._&matchtype=&gad_source=1&gclid=CjwKCAjwodC2BhAHEiwAE67hJDUtlilsWTOf0Oskw0OJ2WQgknzLL-yvvZmCdZxzPP8RM6v-Cgr1iBoCuYAQAvD_BwE&couponCode=2021PM25"
                                        target="_blank">link al curso</a>
                                    <p>curso gratuito</p>
                                    <p>modalidad virtual</p>
                                </div>

                            </div> <!-- fin caja 3 -->

                        </section>
                    </main>
                </div>

                <div class="carousel-item active">
                    <main>
                        <section class="course-cards"> <!--  caja 4-->
                            <div class="course-card">
                                <div class="icon-container">
                                    <h2> Introducción a Ciberseguridad</h2>

                                    <p>¿Quieres convertirte en un experto en ciberseguridad? Este curso te proporcionará
                                        las herramientas y conocimientos necesarios para prevenir ataques cibernéticos y
                                        garantizar la seguridad de los sistemas informáticos.</p>





                                    <a href="https://www.coderhouse.com/ar/online/ciber-seguridad" target="_blank">link
                                        al curso</a>
                                    <p>curso pago</p>
                                    <p>modalidad virtual</p>
                                </div>

                            </div> <!--  fin caja 4-->

                            <div class="course-card"> <!--  caja 5-->
                                <div class="icon-container">
                                    <h2> Introducción a SQL</h2>

                                    <p>Aprende a gestionar y analizar grandes cantidades de datos con SQL. Descubre cómo
                                        extraer información valiosa de bases de datos relacionales.</p>


                                    <a href="https://www.datacamp.com/es/courses/introduction-to-sql?utm_source=google&utm_medium=paid_search&utm_campaignid=20996185912&utm_adgroupid=155763564902&utm_device=c&utm_keyword=sql%20gratis&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=710274505582&utm_targetid=kwd-316192555608&utm_loc_interest_ms=&utm_loc_physical_ms=9185686&utm_content=tech~python~airflow&utm_campaign=240205_1-sea~tech~sql_2-b2c_3-es-lang_4-prw_5-na_6-na_7-le_8-pdsh-go_9-nb-s_10-na_11-na-fawaug24&gad_source=1&gclid=CjwKCAjwodC2BhAHEiwAE67hJI59DZAStB58AOfGn3_MJ__mdADafuEWEU5Ir0Cgr3GgVLJSIEogSxoCR4YQAvD_BwE"
                                        target="_blank">link al curso</a>
                                    <p>curso gratuito</p>
                                    <p>modalidad virtual</p>
                                </div>

                            </div> <!--  fin caja 5-->

                            <div class="course-card"> <!--  caja 6-->
                                <div class="icon-container">
                                    <h2> Introducción a Marketing Digital</h2>

                                    <p>¿Quieres convertirte en un experto en marketing? Este curso te enseñará a diseñar
                                        estrategias de marketing digital, a utilizar las redes sociales para promocionar
                                        tu marca y a analizar los datos para tomar decisiones informadas.</p>

                                    <a href="https://skillshop.exceedlms.com/student/collection/807416-digital-marketing?locale=es"
                                        target="_blank">link al curso</a>
                                    <p>curso pago</p>
                                    <p>modalidad virtual</p>
                                </div>

                            </div> <!--  fin caja 6-->
                        </section>
                    </main>
                </div>

                <!-- Nuevo contenedor 2 -->
                <div class="carousel-item active">
                    <main>
                        <section class="course-cards">
                            <div class="course-card"> <!--   caja 7-->
                                <div class="icon-container">
                                    <h2>Introducción a la Programación</h2>

                                    <p>Descubre el mundo de la programación y aprende a crear soluciones a problemas
                                        reales. Este curso te proporcionará las herramientas y conocimientos necesarios
                                        para desarrollar aplicaciones web, móviles y de escritorio. Aprenderás los
                                        fundamentos de la programación, los algoritmos y las estructuras de datos.</p>

                                    <a href="https://www.educacionit.com/curso-de-introduccion-a-la-programacion"
                                        target="_blank">link al curso</a>
                                    <p>curso gratuito</p>
                                    <p>modalidad virtual</p>
                                </div>

                            </div> <!--  fin caja 7-->

                            <div class="course-card"> <!--   caja 8-->
                                <div class="icon-container">
                                    <h2>Introducción al Inglés</h2>

                                    <p> Descubre el mundo del inglés y comunícate con fluidez. Este curso te enseñará
                                        desde los conceptos básicos hasta temas más avanzados, como el inglés de los
                                        negocios o el inglés para viajar.</p>

                                    <a href="https://cui.edu.ar/idioma.php?id=13" target="_blank">link al curso</a>
                                    <p>curso pago</p>
                                    <p>modalidad virtual</p>
                                </div>

                            </div> <!--  fin caja 8-->

                            <div class="course-card"> <!--  fin caja 9-->
                                <div class="icon-container">
                                    <h2>Introducción a Python</h2>

                                    <p> Descubre el mundo de la programación con Python. Este curso te enseñará desde
                                        los fundamentos hasta conceptos avanzados, como la programación orientada a
                                        objetos y el análisis de datos.</p>

                                    <a href="https://www.digitalhouse.com/ar/productos/datos/python-desde-cero?utm_source=Google&utm_medium=paidsearch&utm_campaign=Clic&utm_term=Institucional&utm_content=ondemand-python-lead-product-adresponsive-lead-python-none-customkws-adtext-none-customkws-ad1-hispanic-search&gad_source=1&gclid=CjwKCAjwodC2BhAHEiwAE67hJCO4DRCcV7K2uMvjpYRqJOxukcnoeO67Te90KsiaQpvnkWYoGj9TFhoCOXkQAvD_BwE"
                                        target="_blank">link al curso</a>
                                    <p>curso pago</p>
                                    <p>modalidad virtual</p>
                                </div>

                            </div> <!--  fin caja 9-->
                        </section>
                    </main>
                </div>


            </div>

            <!-- Botones de control -->
            <button class="carousel-control-prev" onclick="prevSlide()">&#10094;</button>
            <button class="carousel-control-next" onclick="nextSlide()">&#10095;</button>
        </div>

        <!-- FOOTER -->
        <footer>
            <div class="footer-container">

                <div class="logof">
                    <img src="/image/logo-circular.webp" alt="Sabiduría Digital">
                    <span class="footername">
                        <h2>Sabiduría Digital</h2>
                    </span>
                </div>

                <div class="team">
                    <h3>Equipo de trabajo:</h3>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/iara-aylen-sosa/" target="_blank">Sosa Iara</a></li>
                        <li><a href="https://www.linkedin.com/in/camila-belen-alfonso/" target="_blank">Alfonso
                                Camila</a></li>
                        <li><a href="https://www.linkedin.com/in/fabiolaricardo/" target="_blank">Ricardo Fabiola</a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/leonel-javier-correa/" target="_blank">Correa
                                Leonel</a></li>
                    </ul>
                </div>

                <div class="social">
                    <h3>Nuestras Redes:</h3>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>

                <div class="help">
                    <h3>Tu ayuda nos importa!</h3>

                    <a href="/views/donacion.html" class="btn btn-donation"><i class="fa fa-handshake-o"
                            aria-hidden="true"></i> Donaciones</a>


                    <a href="/views/subs.html" class="btn btn-subscribe"><i class="fa fa-bell-o" aria-hidden="true"></i>
                        Suscribite</a>

                </div>

            </div>

            <div class="derechos-reservados">
                <p>&copy; 2024 Sabiduría Digital, todos los derechos reservados.</p>
            </div>
        </footer>
    </div>

    <script>
        let currentSlide = 0;

        function showSlide(index) {
            const slides = document.querySelectorAll('.carousel-item');
            console.log(slides)
            if (index >= slides.length) {
                currentSlide = 0;
            } else if (index < 0) {
                currentSlide = slides.length - 1;
            } else {
                currentSlide = index;
            }
            const offset = -currentSlide * 100;
            document.querySelector('.carousel-inner').style.transform = `translateX(${offset}%)`;
        }

        function nextSlide() {
            showSlide(currentSlide + 1);
        }

        function prevSlide() {
            showSlide(currentSlide - 1);
        }
    </script>
    <script type="module" src="/javascript/navbar.js"></script>
    <script type="module" src="/javascript/menu.js"></script>
</body>

</html>