<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sabiduría Digital</title>

    <link rel="stylesheet" href="/css/sesion.css">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <link rel="icon" type="image/webp" href="/image/logo-para-ventana.webp">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    </style>
</head>
<body>
    
    <header>
        <div class="navbar">
            <a href="/index.html" class="logo">
                <img src="/image/logo-circular.webp" alt="Logo de Sabiduría Digital">
                <span>Sabiduría Digital</span>
            </a>
            <nav>
                <a href="/index.html">Inicio</a>
                <a href="foro.html">Foro</a>
                <a href="#" id="loginBtn" class="login" onclick="login()">Iniciar Sesión</a>
                <a href="#" id="registerBtn" class="login" onclick="register()">Registrarse</a>
            </nav>
        </div>
    </header>

    <!-- El resto del contenido -->
    <div class="wrapper">

        <!--------------Forms!!!!!!!!-------------->
        <div class="form-box">
        <!-- Formulario de inicio de sesión -->
            <div class="login-container" id="login">
                <div class="top">
                    <span>¿No tienes una cuenta?<b href="#" onclick="register()">Registrarme</b></span>
                    <!-- <header ></header> -->
                    <div class="iniciar-sesion-registrate">Inicio de sesión</div>
                </div>

                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Usuario o Email">
                    <i class="bx bx-user"></i>
                </div>

                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Contraseña">
                    <i class="bx bx-lock-alt"></i>
                </div>

                <div class="input-box">
                    <input type="submit" class="submit" value="Iniciar sesión">
                </div>

                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="login-check">
                        <label for="login-check">Recuérdame!</label>
                    </div>

                    <div class="two">
                        <label><a href="#">¿Olvidaste tu contraseña?</a></label>
                    </div>
                </div>
            </div>

        <!-- Formulario de registro -->
            <div class="register-container" id="register">
                <div class="top">
                    <span>¿Tienes una cuenta?<b onclick="login()"> Iniciar Sesión</b></span>
                    <div class="iniciar-sesion-registrate">Regístrate</div>
                </div>

                <div class="two-forms">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Nombre">
                        <i class="bx bx-user"></i>
                    </div>

                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Apellido">
                        <i class="bx bx-user"></i>
                    </div>
                </div>

                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Email">
                    <i class="bx bx-envelope"></i>
                </div>

                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Contraseña">
                    <i class="bx bx-lock-alt"></i>
                </div>

                <div class="input-box">
                    <input type="submit" class="submit" value="Ingresar">
                </div>

                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="register-check">
                        <label for="register-check">Recuérdame!</label>
                    </div>

                    <div class="two">
                        <label><a href="#">Términos y condiciones.</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-container">
            
            <div class="logof">
                <img src="/image/logo-circular.webp" alt="Sabiduría Digital">
                <span class="footername"><h2>Sabiduría Digital</h2></span>
            </div>
            
            <div class="team">
                <h3>Equipo de trabajo:</h3>
                <ul>
                    <li><a href="#">Sosa Iara</a></li>
                    <li><a href="#">Guzman Melany</a></li>
                    <li><a href="#">Alfonso Camila</a></li>
                    <li><a href="#">Ricardo Fabiola</a></li>
                    <li><a href="#">Correa Leonel</a></li>
                </ul>
            </div>
    
            <div class="social">
                <h3>Nuestras Redes:</h3>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
    
            <div class="help">
                <h3>Tu ayuda nos importa!</h3>

                <a href="donacion.html" class="btn btn-donation" ><i class="fa fa-handshake-o" aria-hidden="true"></i> Donaciones</a>

            
                <a href="donacion.html" class="btn btn-subscribe"><i class="fa fa-bell-o" aria-hidden="true"></i> Suscribite</a>
                
            </div>
            
        </div>
    
        <div class="footer-bottom">
            <p>&copy; 2024 Sabiduría Digital, todos los derechos reservados.</p>
        </div>
    </footer>

<!-- Scripts -->
    <script>
        var a = document.getElementById("loginBtn");
        var b = document.getElementById("registerBtn");
        var x = document.getElementById("login");
        var y = document.getElementById("register");

        function login() {
        x.style.left = "4px";
        y.style.right = "-520px";
        x.style.opacity = 1;
        y.style.opacity = 0;
        }

        function register() {
        x.style.left = "-510px";
        y.style.right = "5px";
        x.style.opacity = 0;
        y.style.opacity = 1;
        }
    </script>
    <script type="module" src="../javascript/main.js"></script>
</body>
</html>
